/* About Page Styling */

#about {
  font-family: "Open Sans", sans-serif;
}

a:link {
  text-decoration: none;
}

.about-content {
  margin: 0 7%;
}

.about-content h1 {
  font-size: 3.5vw;
  font-weight: bold;
  margin-bottom: 7%;
  text-align: center;
}

.about-image {
  position: relative;
}

.about-text {
  background-color: #d9b70d;
  color: #fff;
  left: 7%;
  padding: 2% 5%;
  position: absolute;
  top: 10vw;
  width: 60%;
}

.about-text h1 {
  font-size: 2.5vw;
  padding: 0.75vw 0;
}

.about-text p {
  font-size: 1.3vw;
  font-weight: lighter;
}

.consultation {
  font-size: 1.2vw;
  margin-top: 5%;
  text-align: center;
}

.consultation a:hover {
  color: #d9b70d;
}

.expertise {
  background-color: #d3d1d14f;
  padding: 5% 0 2%;
}

.expertise-grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr;
}

.expertise-icon {
  padding: 1vw;
}

.expertise-text {
  font-size: 1.5vw;
  padding: 0.5vw;
}

.img-fluid {
  height: 45vw;
  width: 100%;
}

.shadow {
  box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
}

.team {
  margin-top: 5%;
}

.team-member {
  padding: 0 4vw;
}

.team-member img {
  width: 90%;
}

.team-member-name {
  color: #051026;
  font-size: 1.25vw;
  font-weight: bold;
}

.team-member-position {
  font-size: 1vw;
}

.team-text {
  background-color: #fff;
  bottom: 10%;
  left: 45%;
  padding: 1vw;
  position: relative;
  width: 70%;
}

@media (max-width: 992px) {
  .about-content h1 {
    font-size: 5vw;
  }

  .about-text {
    width: 85%;
  }

  .about-text h1 {
    font-size: 5vw;
  }

  .about-text p {
    font-size: 2.2vw;
  }

  .consultation a:link {
    font-size: 2vw;
  }

  .expertise-grid {
    grid-template-columns: 10% 90%;
  }

  .expertise-text {
    font-size: 2.3vw;
  }

  .img-fluid {
    height: 60vw;
  }

  .team-member {
    padding: 0 3vw;
  }

  .team-member img {
    width: 100%;
  }

  .team-member-name {
    font-size: 1.8vw;
  }

  .team-member-position {
    font-size: 1.5vw;
  }
}

/* Phone */
@media (max-width:576px) {
  .about-image {
    height: 400px;
  }

  .about-text {
    width: 90%;
  }

  .about-text h1 {
    font-size: 8vw;
  }

  .about-text p {
    font-size: 3vw;
  }

  .team {
    margin: 0 15vw;
}

  .team-member-name {
    font-size: 4vw;
  }

  .team-member-position {
    font-size: 3.5vw;
  }

}