/* Contact Us Styling */

h3 {
  font-size: 1.8vw;
}

p {
  font-size: 1.1vw;
}

.btn-submit {
  border-color: darkslategrey;
  border-width: 1.5px;
  color: darkslategray;
  font-size: 1.2vw;
  margin-top: 5%;
}

.btn-submit:hover {
  border-color: #048abf;
  background-color: #048abf;
  color: #fff;
}

.contact-form {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  padding: 3% 3%;
}

.contact-form h1 {
  color: darkslategray;
  font-size: 2.5vw;
  padding-bottom: 10px;
}

.email-disclosure {
  font-size: 1vw;
}

.form-label {
  font-size: 1.1vw;
  margin: 10px 0 5px;
}

.desktop-bar {
  background-color: #048abf;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item-trading-info {
  color: #fff;
  padding: 5% 10%;
}

.grid-item-trading-info h3 {
  padding: 20px 0;
}

.hide-input {
  display: none;
}

.mobile-bar {
  display: none;
}

.submit-button {
  text-align: center;
}

#contact-us {
  margin: 3% 10%;
}

@media (min-width: 1500px) {
  h3 {
    font-size: 1.5vw;
  }

  p {
    font-size: 1vw;
  }

  .contact-form h1 {
    font-size: 2vw;
  }

  .email-disclosure {
    font-size: 0.75vw;
  }
}

@media (max-width: 1400px) {
  .grid-container {
    display: grid;
    grid-template-columns: 520px auto;
  }
}

@media (max-width: 992px) {
  h3 {
    font-size: 2vw;
    margin-bottom: 1.5vw;
  }

  h6 {
    font-size: 1.7vw;
  }

  p {
    font-size: 1.5vw;
    margin-bottom: 0.8vw;
  }

  .btn-submit {
    font-size: 2vw;
  }

  .contact-form h1 {
    font-size: 2.8vw;
  }

  .desktop-bar {
    display: none;
  }

  .email-disclosure {
    font-size: 1.3vw;
  }

  .form-label {
    font-size: 1.5vw;
  }

  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 1fr 6fr;
  }

  .grid-item-contact-form {
    grid-row: 2/3;
  }

  .grid-item-trading-hours {
    position: relative;
    bottom: 0.5vw;
  }

  .grid-item-trading-info {
    background-color: #048abf;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4% 5%;
  }

  .grid-item-trading-info h3 {
    padding: 0;
  }

  .mobile-bar {
    display: inline;
  }

  .trading-icon {
    padding: 0.5vw 2vw;
  }

  #contact-us {
    margin: 3% 5vw;
  }
}

/* Mobile */
@media (max-width:576px) {

  h3 {
    font-size: 4vw;
  }

  p {
    font-size: 2.5vw;
  }

  .contact-form h1 {
    font-size: 7vw;
  }
.email-disclosure{
  font-size: 2.5vw;
}
  .form-label{
    font-size: 3.5vw;
    margin-top: 4vh;
  }

  .grid-item-contact-details{
    display: none;
  }

  .grid-item-headquarters{
    display: none;
  }

  .grid-item-trading-info {
    grid-template-columns: 1fr;
    padding: 4% 5%;
  }

  .btn-submit {
    font-size: 3vw;
  }

}
