/* Labing Page Image Styling */
.landing-page-image img {
  height: 70vh;
}

.landing-page-image-text {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  position: absolute;
}

.landing-page-image-text-english {
  color: #048abf;
  right: 7%;
  top: 50%;
}

.landing-page-image-text-german {
  color: #d9b70d;
  font-weight: bold;
  right: 7%;
  top: 60%;
}

/* Products Menu Styling */

.card-title {
  font-size: 1.5vw;
}

.product-catagory-card {
  border-color: darkslategray;
  border-width: 2px;
  margin: 5%;
}

.product-catagory-card .card-body {
  padding: 10%;
}

.product-catagory-card .card-header {
  background-color: #fff;
  border-color: darkslategray;
}

.product-btn {
  border-color: darkslategray;
  color: darkslategray;
  font-size: 1.2vw;
  width: 70%;
}

.product-btn:hover {
  background-color: #d9b70d;
  border-color: #d9b70d;
  color: #fff;
}

.product-menu-header {
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
  margin: 6%;
}

.product-icon {
  margin-bottom: 10%;
  width: 50%;
}

.smaller-font-title {
  font-size: 3rem;
}

#product-menu {
  padding: 0 10%;
  text-align: center;
}

/* Wide desktop */
@media (min-width: 1570px) {
  .landing-page-image img {
    height: 700px;
  }

  #product-menu {
    padding: 0 15%;
  }
}

@media (max-width: 1570px) {
  .landing-page-image img {
    height: 500px;
  }

  .landing-page-image-text {
    font-size: 3.5vw;
  }
}

@media (max-width: 990px) {
  .card-title {
    font-size: 2vw;
  }

  .landing-page-image-text {
    font-size: 4vw;
  }

  .landing-page-image img {
    height: 450px;
  }

  .landing-page-image-text-english {
    right: 4%;
    top: 40%;
  }

  .landing-page-image-text-german {
    right: 4%;
    top: 50%;
  }


  .product-btn {
    font-size: 1.5vw;
  }

  .product-menu-header {
    font-size: 6vw;
  }

  #product-menu {
    padding: 0 8vw;
  }
}

/* Ipad */
@media (max-width: 768px) {
  .card-title {
    font-size: 3vw;
  }

  .landing-page-image-text-english {
    right: 4%;
    top: 40%;
  }

  .landing-page-image-text-german {
    right: 4%;
    top: 45%;
  }

  .product-btn {
    font-size: 2vw;
  }
}

/* Phone */
@media (max-width: 576px) {
  .card-title {
    font-size: 5vw;
  }

  .landing-page-image img {
    height: 350px;
  }

  .product-btn {
    font-size: 4.5vw;
  }

  #product-menu {
    padding: 0 10%;
    text-align: center;
  }

  .product-menu-header {
    font-size: 10vw;
  }

  #ear-nose-throat {
    font-size: 3vw;
  }
}