/* Carousel Styling */

.carousel-text {
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  position: absolute;
}

.carousel-text-english-1 {
  color: #fff;
  left: 6vw;
  top: 20%;
}

.carousel-text-english-2 {
  color: #fff;
  right: 9vw;
  top: 20%;
}

.carousel-text-english-3 {
  color: #d9b70d;
  right: 9%;
  top: 60%;
}

.carousel-text-german-1 {
  color: #051026;
  font-weight: bold;
  left: 6vw;
  top: 30%;
}

.carousel-text-german-2 {
  color: #051026;
  font-weight: bold;
  right: 9vw;
  top: 30%;
}

.carousel-text-german-3 {
  color: #051026;
  font-weight: bold;
  right: 9vw;
  top: 70%;
}

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
  min-height: 500px;
}

/* Products Menu Styling */

.card-title {
  font-size: 1.5vw;
}

.product-catagory-card {
  border-color: darkslategray;
  border-width: 2px;
  margin: 5%;
}

.product-catagory-card .card-body {
  padding: 10%;
}

.product-catagory-card .card-header {
  background-color: #fff;
  border-color: darkslategray;
}

.product-btn {
  border-color: darkslategray;
  color: darkslategray;
  font-size: 1.2vw;
  width: 70%;
}

.product-btn:hover {
  background-color: #d9b70d;
  border-color: #d9b70d;
  color: #fff;
}

.product-menu-header {
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
  margin: 6%;
}

.product-icon {
  margin-bottom: 10%;
  width: 50%;
}

.smaller-font-title {
  font-size: 3rem;
}

#product-menu {
  padding: 0 10%;
  text-align: center;
}


/* Wide desktop */
@media (min-width: 1570px) {
  .carousel .carousel-item {
    height: 700px;
  }

  .carousel-item img {
    min-height: 700px;
  }

  #product-menu {
    padding: 0 15%;
  }
}

@media (max-width: 990px) {
  .card-title {
    font-size: 2vw;
  }

  .carousel .carousel-item {
    height: 450px;
  }

  .product-btn {
    font-size: 1.5vw;
  }

  .product-menu-header {
    font-size: 6vw;
  }

  #product-menu {
    padding: 0 8vw;
  }
}

/* Ipad */
@media (max-width: 768px) {
  .card-title {
    font-size: 3vw;
  }

  .product-btn {
    font-size: 2vw;
  }
}

/* Phone */
@media (max-width: 576px) {
  .card-title {
    font-size: 5vw;
  }

  .carousel .carousel-item {
    height: 350px;
  }

  .product-btn {
    font-size: 4.5vw;
  }

  #product-menu {
    padding: 0 10%;
    text-align: center;
  }

  .product-menu-header {
    font-size: 10vw;
  }

  #ear-nose-throat{
    font-size: 3vw;
  }
}
