/* Product List Styling */

.card-product-list {
  border-width: 2px;
  border-radius: 10px;
  margin: 0 auto 10% auto;
  padding: 5%;
  width: 95%;
}

.card-title,
.card-text {
  padding-left: 7%;
}

.card-title {
  font-size: 1.5vw;
}

.card-text {
  font-size: 1vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hide {
  display: none;
}

.no-results {
  color: #051026;
  font-size: 2rem;
  margin-top: 30px;
  text-align: center;
}

.product-card-btn {
  font-size: 1.1vw;
  width: 95%;
}

.product-card-btn:hover {
  background-color: #d9b70d;
  border-color: #d9b70d;
}

.product-card-img {
  margin: 7% auto 0%;
}

#product-list {
  margin: 0 10%;
}

#product-list h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.25vw;
  font-weight: bold;
  padding: 2% 0 5%;
  text-align: center;
}

@media (max-width: 900px) {
  .card-title {
    font-size: 2.7vw;
  }

  .card-text {
    font-size: 2.3vw;
  }

  .grid-container {
    grid-template-columns: 100%;
  }

  .product-card-btn {
    font-size: 1.5vw;
  }

  #product-list {
    margin: 0 15vw;
  }

  #product-list h1 {
    font-size: 6vw;
    margin-bottom: 7%;
  }
}


/* Ipad */
@media (max-width: 768px) {
  .product-card-btn {
    font-size: 1.8vw;
  }
}

/* Phone */
@media (max-width: 576px) {
  #product-list {
    margin: 0 10vw;
  }
}
