body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
}

/* Navbar Styling */

.brand-logo {
  margin: 3% 10%;
  width: 80%;
}

.dropdown-item {
  font-size: 1.2vw;
}

.navbar-brand {
  width: 25%;
}

.nav-item {
  font-size: 1.2vw;
  padding-right: 3vw;
}

/* Footer Styling */

.copyright-text {
  top: 10px;
  font-size: 0.8vw;
  position: relative;
}

.footer-col {
  padding: 3% auto;
  margin: auto;
}

.footer-icon {
  padding: 0.5vw 1vw;
}

.socials-icon {
  padding: 1vw 1vh;
}

.top-arrow-text {
  font-size: 0.75vw;
}

.top-col {
  text-align: center;
}

#footer {
  background-color: #03a696;
  color: #fff;
  font-size: 1vw;
  margin-top: 5%;
  padding: 2% 5%;
}

#navbar-search {
  margin: auto;
  width: 18vw;
}

#search-input {
  font-size: 1vw;
}

#socials {
  font-size: 1.3vw;
  text-align: center;
}

#socials i:hover {
  color: lightgray;
}

#top-arrow {
  bottom: 1vh;
  position: relative;
}

#top-arrow:hover {
  color: lightgray;
}

@media (max-width: 992px) {
  .brand-logo {
    width: 120%;
  }

  .copyright-text {
    font-size: 1vw;
  }

  .dropdown-item {
    font-size: 2.3vw;
  }

  .nav-item {
    font-size: 2.5vw;
    padding: 0;
  }

  .navbar-nav {
    text-align: center;
  }

  .top-arrow-text {
    font-size: 1vw;
  }

  .translate-menu {
    text-align: end;
    margin-right: 5vw;
  }

  #footer {
    font-size: 1.35vw;
    padding: 3vw;
  }

  #navbar-search {
    width: 25vw;
  }

  #search-input {
    font-size: 2vw;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .brand-logo {
    width: 250%;
  }

  .copyright-text {
    font-size: 2vw;
  }

  .dropdown-item {
    font-size: 5vw;
  }

  .footer-col {
    padding: 0;
    margin: 5vw auto;
  }

  .nav-item {
    font-size: 6vw;
  }

  .top-arrow-text {
    font-size: 3vw;
  }

  #footer {
    font-size: 3.5vw;
  }

  #navbar-search {
    width: 60vw;
  }

  #search-input {
    font-size: 4vw;
  }

  #socials {
    font-size: 3.5vw;
    text-align: center;
  }
}
