body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
}


/* Navbar Styling */

.brand-logo {
  margin: 3% 10%;
  width: 80%;
}

.dropdown-item {
  font-size: 1.2vw;
}

.expertise-text {
  text-align: left;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  width: 25%;
}

.navbar-nav {
  text-align: center;
}

.nav-item {
  font-size: 1.2vw;
  padding-right: 3vw;
}

.translate-menu {
  margin-left: auto;
  margin-right: 0;
}

/* Footer Styling */

.copyright-text {
  top: 30px;
  font-size: 0.8vw;
  position: relative;
}

.footer-col {
  padding: 3% 2px;
}

.footer-icon{
  padding: 0.5vw 1vw;
}

.socials-icon {
  padding: 0.5rem 1rem;
}

.top-arrow-text {
  font-size: 0.75vw;
  margin-bottom: 10%;
}

.top-col {
  text-align: center;
}

#footer {
  background-color: #03a696;
  color: #fff;
  font-size: 1vw;
  padding: 2% 5%;
  margin-top: 5%;
}

#navbar-search {
  margin: auto;
  width: 18vw;
}

#search-input {
  font-size: 1vw;
}

#socials {
  font-size: 1.3vw;
  text-align: center;
}

#socials i:hover {
  color: lightgray;
}

#top-arrow {
  bottom: 20px;
  position: relative;
}

#top-arrow:hover {
  color: lightgray;
}

@media (max-width: 992px) {
  .brand-logo {
    margin: 3% 10%;
    width: 120%;
  }

  .copyright-text {
    font-size: 1vw;
  }

  .dropdown-item {
    font-size: 2.3vw;
  }

  .footer-icon {
    padding: 0.5vw 1vw;
  }

  .nav-item {
    font-size: 2.5vw;
  }

  .top-arrow-text {
    font-size: 1vw;
  }

  #footer {
    font-size: 1.35vw;
    padding: 3vw;
  }

  #navbar-search {
    margin: auto;
    width: 25vw;
  }

  #search-input {
    font-size: 2vw;
  }
}
