#thank-you {
  border: 2px solid #d9b70d;
  font-family: "Open Sans", sans-serif;
  left: 50%;
  padding: 40px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.btn-back {
  background-color: transparent;
  border: 2px solid #d9b70d;
  border-radius: 5%;
  color: #d9b70d;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  height: 50px;
  margin-top: 5%;
  width: 180px;
}

.btn-back:hover {
  background-color: #d9b70d;
  border-color: #d9b70d;
  color: #fff;
}

.check-icon {
  color: #d9b70d;
  margin-bottom: 40px;
}

.thanking-title {
  font-size: 2.1rem;
  margin: 30px;
}

@media (min-width: 1750px) {
  #thank-you {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .thanking-title {
    font-size: 4vw;
  }

  h4 {
    font-size: 2.2vw;
  }
}